In [1]:
import pandas as pd

In [2]:
absenteeism_dataset_raw = pd.read_csv("absenteeism_dataset_raw.csv")

In [3]:
absenteeism_dataset_raw.head(10)

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,11,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,36,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,3,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,7,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,11,23,23/07/2015,289,36,33,239.554,30,1,2,1,2
5,3,23,10/07/2015,179,51,38,239.554,31,1,0,0,2
6,10,22,17/07/2015,361,52,28,239.554,27,1,1,4,8
7,20,23,24/07/2015,260,50,36,239.554,23,1,4,0,4
8,14,19,06/07/2015,155,12,34,239.554,25,1,2,0,40
9,1,22,13/07/2015,235,11,37,239.554,29,3,1,1,8

In [4]:
df = absenteeism_dataset_raw.copy()

In [5]:
pd.options.display.max_columns = None

In [6]:
df

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,11,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,36,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,3,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,7,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,11,23,23/07/2015,289,36,33,239.554,30,1,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...
695,17,10,23/05/2018,179,22,40,237.656,22,2,2,0,8
696,28,6,23/05/2018,225,26,28,237.656,24,1,1,2,3
697,18,10,24/05/2018,330,16,28,237.656,25,2,0,0,8
698,25,23,24/05/2018,235,16,32,237.656,25,3,0,0,2
699,15,28,31/05/2018,291,31,40,237.656,25,1,1,1,2

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ID                         700 non-null    int64
 1   Reason for Absence         700 non-null    int64
 2   Date                       700 non-null    object
 3   Transportation Expense     700 non-null    int64
 4   Distance to Work           700 non-null    int64
 5   Age                        700 non-null    int64
 6   Daily Work Load Average    700 non-null    float64
 7   Body Mass Index            700 non-null    int64
 8   Education                  700 non-null    int64
 9   Children                   700 non-null    int64
 10  Pets                       700 non-null    int64
 11  Absenteeism Time in Hours  700 non-null    int64
dtypes: float64(1), int64(10), object(1)
memory usage: 65.8+ KB

In [8]:
if df.isnull().sum().sum() == 0:
    print("No missing values in the dataset")
else:
    print("Missing values found!")

No missing values in the dataset

## ID

In [9]:
# 'ID' column is a unique identifier and has no analytical value — dropped

In [10]:
df = df.drop(['ID'], axis = 1)

In [11]:
df.head(5)

,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,23,23/07/2015,289,36,33,239.554,30,1,2,1,2

## Reason for Absence

#### Reason Index

1	Certain infectious and parasitic diseases
2	Neoplasms
3	Diseases of the blood and blood-forming organs and certain disorders involving the immune mechanism
4	Endocrine, nutritional and metabolic diseases
5	Mental and behavioural disorders
6	Diseases of the nervous system
7	Diseases of the eye and adnexa
8	Diseases of the ear and mastoid process
9	Diseases of the circulatory system
10	Diseases of the respiratory system
11	Diseases of the digestive system
12	Diseases of the skin and subcutaneous tissue
13	Diseases of the musculoskeletal system and connective tissue
14	Diseases of the genitourinary system
15	Pregnancy, childbirth and the puerperium
16	Certain conditions originating in the perinatal period
17	Congenital malformations, deformations and chromosomal abnormalities
18	Symptoms, signs and abnormal clinical and laboratory findings, not elsewhere classified
19	Injury, poisoning and certain other consequences of external causes
20	External causes of morbidity and mortality
21	Factors influencing health status and contact with health services
22	Patient follow-up
23	Medical consultation
24	Blood donation
25	Laboratory examination
26	Unjustified absence
27	Physiotherapy
28	Dental consultation

In [12]:
df["Reason for Absence"].max()

28

In [13]:
pd.unique(df["Reason for Absence"])

array([26,  0, 23,  7, 22, 19,  1, 11, 14, 21, 10, 13, 28, 18, 25, 24,  6,
       27, 17,  8, 12,  5,  9, 15,  4,  3,  2, 16], dtype=int64)

In [14]:
#should be 29, 0-28

In [15]:
sorted(df["Reason for Absence"].unique())

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28]

In [16]:
# Reason code 20 is not present in the dataset, indicating that this category has not occurred.
# Since "Reason for Absence" is a nominal categorical variable based on an indexed list,
# missing categories simply reflect unobserved values in this sample — not missing data.

In [17]:
# ✅ Pre-check: Expecting no missing or incorrect values — 
# each row should contain exactly one valid reason for absence.
# All values are within the expected range, and each record is assigned to a single category.

In [18]:
reason_columns = pd.get_dummies(df['Reason for Absence']).astype(int)
reason_columns

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,21,22,23,24,25,26,27,28
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
696,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
697,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
698,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
699,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1

In [19]:
reason_columns['check'] = reason_columns.sum(axis=1)
reason_columns

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,21,22,23,24,25,26,27,28,check
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1
1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1
3,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
696,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
697,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
698,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1
699,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1

In [20]:
reason_columns['check'].sum(axis=0)

700

In [21]:
df.shape[0]

700

In [22]:
reason_columns['check'].unique()

array([1], dtype=int64)

In [23]:
# No missing or incorrect values found — each row contains exactly one valid reason for absence.
# All unique values are within the expected range, and each record is assigned to a single category.

In [24]:
reason_columns = reason_columns.drop(['check'],axis = 1)
reason_columns.head(5)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,21,22,23,24,25,26,27,28
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0

In [25]:
#dropping reason 0

In [26]:
reason_columns = pd.get_dummies(df['Reason for Absence'], drop_first = True)

In [27]:
reason_columns.head(5).astype(int)

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,21,22,23,24,25,26,27,28
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0

## Group the Reason for Absence

##### as there are a lot, will be grouped a similar group absent into several groups

In [28]:
print(df.columns.values)
print(reason_columns.columns.values)

['Reason for Absence' 'Date' 'Transportation Expense' 'Distance to Work'
 'Age' 'Daily Work Load Average' 'Body Mass Index' 'Education' 'Children'
 'Pets' 'Absenteeism Time in Hours']
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 21 22 23 24 25
 26 27 28]

In [29]:
# to avoid multicollinearity between soon 4 groups of absence,, dropping reason for absence column for now

In [30]:
df = df.drop(["Reason for Absence"], axis = 1)

In [31]:
df.head(5)

,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,23/07/2015,289,36,33,239.554,30,1,2,1,2

Grouping of 'Reason for Absence' Categories:

Group 1: Physical Illnesses
- Includes reasons 1 to 14
- Covers infectious diseases, chronic physical conditions, and organ-related disorders.

Group 2: Pregnancy & Perinatal
- Includes reasons 15 to 17
- Covers pregnancy, childbirth, perinatal conditions, and congenital abnormalities.

Group 3: General Medical Conditions
- Includes reasons 18 to 21
- Encompasses non-specific symptoms, injury-related causes, and external health factors.

Group 4: Administrative / Other
- Includes reasons 22 to 28
- Represents non-medical or routine absences such as consultations, lab tests, unjustified absences, physiotherapy, and dental visits.

In [32]:
reason_type_1 = reason_columns.loc[:, 1:14].max(axis=1).astype(int)
reason_type_2 = reason_columns.loc[:, 15:17].max(axis=1).astype(int)
reason_type_3 = reason_columns.loc[:, 18:21].max(axis=1).astype(int)
reason_type_4 = reason_columns.loc[:, 22:].max(axis=1).astype(int)

In [33]:
#combining the reasons group to the df

In [34]:
df = pd.concat([df, reason_type_1, reason_type_2, reason_type_3, reason_type_4], 
               axis = 1)

In [35]:
df.head(5)

,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,0,1,2,3
0,07/07/2015,289,36,33,239.554,30,1,2,1,4,0,0,0,1
1,14/07/2015,118,13,50,239.554,31,1,1,0,0,0,0,0,0
2,15/07/2015,179,51,38,239.554,31,1,0,0,2,0,0,0,1
3,16/07/2015,279,5,39,239.554,24,1,2,0,4,1,0,0,0
4,23/07/2015,289,36,33,239.554,30,1,2,1,2,0,0,0,1

In [36]:
df.columns.values

array(['Date', 'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours', 0, 1, 2, 3],
      dtype=object)

In [37]:
column_names = ['Date', 'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours', 'Reason_1', 'Reason_2', 'Reason_3', 'Reason_4']

In [38]:
df.columns = column_names

In [39]:
df.head(5)

,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Reason_1,Reason_2,Reason_3,Reason_4
0,07/07/2015,289,36,33,239.554,30,1,2,1,4,0,0,0,1
1,14/07/2015,118,13,50,239.554,31,1,1,0,0,0,0,0,0
2,15/07/2015,179,51,38,239.554,31,1,0,0,2,0,0,0,1
3,16/07/2015,279,5,39,239.554,24,1,2,0,4,1,0,0,0
4,23/07/2015,289,36,33,239.554,30,1,2,1,2,0,0,0,1

In [40]:
# reordering columns

In [41]:
column_name_reorder = ['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Date', 'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours']

In [42]:
df = df[column_name_reorder]
df.head(3)

,Reason_1,Reason_2,Reason_3,Reason_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,0,0,0,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,0,0,0,1,15/07/2015,179,51,38,239.554,31,1,0,0,2

## Checkpoint

In [43]:
df_reason_mod = df.copy()
df_reason_mod.head(3)

,Reason_1,Reason_2,Reason_3,Reason_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,0,0,0,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,0,0,0,1,15/07/2015,179,51,38,239.554,31,1,0,0,2

## Date

In [44]:
# convert to timestamp
# extracting the Month and Day of the week
# will drop date

In [45]:
df_reason_mod.head(3)

,Reason_1,Reason_2,Reason_3,Reason_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,0,0,0,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,0,0,0,1,15/07/2015,179,51,38,239.554,31,1,0,0,2

In [46]:
type(df_reason_mod["Date"][0])

str

In [47]:
df_reason_mod["Date"]

0      07/07/2015
1      14/07/2015
2      15/07/2015
3      16/07/2015
4      23/07/2015
          ...
695    23/05/2018
696    23/05/2018
697    24/05/2018
698    24/05/2018
699    31/05/2018
Name: Date, Length: 700, dtype: object

In [48]:
df_reason_mod["Date"] = pd.to_datetime(df_reason_mod["Date"],
                                      format = '%d/%m/%Y')

In [49]:
df_reason_mod["Date"]

0     2015-07-07
1     2015-07-14
2     2015-07-15
3     2015-07-16
4     2015-07-23
         ...
695   2018-05-23
696   2018-05-23
697   2018-05-24
698   2018-05-24
699   2018-05-31
Name: Date, Length: 700, dtype: datetime64[ns]

In [50]:
type(df_reason_mod["Date"][0])

pandas._libs.tslibs.timestamps.Timestamp

In [51]:
# Month Values

In [52]:
list_months = []

In [53]:
for i in range (700):
    list_months.append(df_reason_mod["Date"][i].month)

In [54]:
df_reason_mod["Month Value"] = list_months

In [55]:
# Day of the week

In [56]:
def date_to_weekday(date_value):
    return date_value.weekday()

In [57]:
df_reason_mod["Day of the Week"] = df_reason_mod["Date"].apply(date_to_weekday)

In [58]:
df_reason_mod.head(3)

,Reason_1,Reason_2,Reason_3,Reason_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month Value,Day of the Week
0,0,0,0,1,2015-07-07,289,36,33,239.554,30,1,2,1,4,7,1
1,0,0,0,0,2015-07-14,118,13,50,239.554,31,1,1,0,0,7,1
2,0,0,0,1,2015-07-15,179,51,38,239.554,31,1,0,0,2,7,2

In [59]:
# reorder the month next to the date, will not drop the date as perhaps it might needed

In [60]:
df_reason_mod.columns.values

array(['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Date',
       'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours', 'Month Value',
       'Day of the Week'], dtype=object)

In [61]:
column_names_full_reorder = ['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Date', 'Month Value', 'Day of the Week',
       'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education', 'Children',
       'Pets', 'Absenteeism Time in Hours']

In [62]:
df_reason_mod = df_reason_mod[column_names_full_reorder]

In [63]:
df_reason_mod.head(3)

,Reason_1,Reason_2,Reason_3,Reason_4,Date,Month Value,Day of the Week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,2015-07-07,7,1,289,36,33,239.554,30,1,2,1,4
1,0,0,0,0,2015-07-14,7,1,118,13,50,239.554,31,1,1,0,0
2,0,0,0,1,2015-07-15,7,2,179,51,38,239.554,31,1,0,0,2

## 2nd Check Point

In [64]:
df_reason_date_mod = df_reason_mod.copy()
df_reason_date_mod.head(3)

,Reason_1,Reason_2,Reason_3,Reason_4,Date,Month Value,Day of the Week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,2015-07-07,7,1,289,36,33,239.554,30,1,2,1,4
1,0,0,0,0,2015-07-14,7,1,118,13,50,239.554,31,1,1,0,0
2,0,0,0,1,2015-07-15,7,2,179,51,38,239.554,31,1,0,0,2

In [65]:
df_reason_date_mod.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 16 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Reason_1                   700 non-null    int32
 1   Reason_2                   700 non-null    int32
 2   Reason_3                   700 non-null    int32
 3   Reason_4                   700 non-null    int32
 4   Date                       700 non-null    datetime64[ns]
 5   Month Value                700 non-null    int64
 6   Day of the Week            700 non-null    int64
 7   Transportation Expense     700 non-null    int64
 8   Distance to Work           700 non-null    int64
 9   Age                        700 non-null    int64
 10  Daily Work Load Average    700 non-null    float64
 11  Body Mass Index            700 non-null    int64
 12  Education                  700 non-null    int64
 13  Children                   700 non-null    int64
 14  Pets                       700 non-null    int64
 15  Absenteeism Time in Hours  700 non-null    int64
dtypes: datetime64[ns](1), float64(1), int32(4), int64(10)
memory usage: 76.7 KB

## Education

In [66]:
df_reason_date_mod['Education'].unique()

array([1, 3, 2, 4], dtype=int64)

1 = High School
2 = Graduate
3 = Postgraduate
4 = A master or a Doctor

In [67]:
df_reason_date_mod['Education'].value_counts()

Education
1    583
3     73
2     40
4      4
Name: count, dtype: int64

In [68]:
# as 2-4 show no significant number, so it better  just group them

In [69]:
df_reason_date_mod['Education'] = df_reason_date_mod['Education'].map({1:0,
                                                                 2:1,
                                                                 3:1,
                                                                 4:1})

In [70]:
df_reason_date_mod['Education'].unique()

array([0, 1], dtype=int64)

In [71]:
df_reason_date_mod['Education'].value_counts()

Education
0    583
1    117
Name: count, dtype: int64

## Final Check Point

In [72]:
df_cleaned = df_reason_date_mod.copy()
df_cleaned.head(3)

,Reason_1,Reason_2,Reason_3,Reason_4,Date,Month Value,Day of the Week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,2015-07-07,7,1,289,36,33,239.554,30,0,2,1,4
1,0,0,0,0,2015-07-14,7,1,118,13,50,239.554,31,0,1,0,0
2,0,0,0,1,2015-07-15,7,2,179,51,38,239.554,31,0,0,0,2

In [73]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 16 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Reason_1                   700 non-null    int32
 1   Reason_2                   700 non-null    int32
 2   Reason_3                   700 non-null    int32
 3   Reason_4                   700 non-null    int32
 4   Date                       700 non-null    datetime64[ns]
 5   Month Value                700 non-null    int64
 6   Day of the Week            700 non-null    int64
 7   Transportation Expense     700 non-null    int64
 8   Distance to Work           700 non-null    int64
 9   Age                        700 non-null    int64
 10  Daily Work Load Average    700 non-null    float64
 11  Body Mass Index            700 non-null    int64
 12  Education                  700 non-null    int64
 13  Children                   700 non-null    int64
 14  Pets                       700 non-null    int64
 15  Absenteeism Time in Hours  700 non-null    int64
dtypes: datetime64[ns](1), float64(1), int32(4), int64(10)
memory usage: 76.7 KB

In [74]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.width', None)
display(df_cleaned)

,Reason_1,Reason_2,Reason_3,Reason_4,Date,Month Value,Day of the Week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,2015-07-07,7,1,289,36,33,239.554,30,0,2,1,4
1,0,0,0,0,2015-07-14,7,1,118,13,50,239.554,31,0,1,0,0
2,0,0,0,1,2015-07-15,7,2,179,51,38,239.554,31,0,0,0,2
3,1,0,0,0,2015-07-16,7,3,279,5,39,239.554,24,0,2,0,4
4,0,0,0,1,2015-07-23,7,3,289,36,33,239.554,30,0,2,1,2
5,0,0,0,1,2015-07-10,7,4,179,51,38,239.554,31,0,0,0,2
6,0,0,0,1,2015-07-17,7,4,361,52,28,239.554,27,0,1,4,8
7,0,0,0,1,2015-07-24,7,4,260,50,36,239.554,23,0,4,0,4
8,0,0,1,0,2015-07-06,7,0,155,12,34,239.554,25,0,2,0,40
9,0,0,0,1,2015-07-13,7,0,235,11,37,239.554,29,1,1,1,8
10,1,0,0,0,2015-07-20,7,0,260,50,36,239.554,23,0,4,0,8
11,1,0,0,0,2015-07-14,7,1,260,50,36,239.554,23,0,4,0,8
12,1,0,0,0,2015-07-15,7,2,260,50,36,239.554,23,0,4,0,8
13,1,0,0,0,2015-07-15,7,2,179,51,38,239.554,31,0,0,0,1
14,0,0,0,1,2015-07-15,7,2,179,51,38,239.554,31,0,0,0,4
15,1,0,0,0,2015-07-17,7,4,246,25,41,239.554,23,0,0,0,8
16,0,0,0,1,2015-07-17,7,4,179,51,38,239.554,31,0,0,0,2
17,0,0,1,0,2015-07-27,7,0,179,51,38,239.554,31,0,0,0,8
18,1,0,0,0,2015-07-30,7,3,189,29,33,239.554,25,0,2,2,8
19,0,0,0,1,2015-08-05,8,2,248,25,47,205.917,32,0,2,1,2
20,1,0,0,0,2015-08-12,8,2,330,16,28,205.917,25,1,0,0,8
21,1,0,0,0,2015-08-03,8,0,179,51,38,205.917,31,0,0,0,1
22,1,0,0,0,2015-08-10,8,0,361,52,28,205.917,27,0,1,4,40
23,0,0,0,1,2015-08-14,8,4,260,50,36,205.917,23,0,4,0,4
24,0,0,1,0,2015-08-17,8,0,289,36,33,205.917,30,0,2,1,8
25,0,0,0,1,2015-08-24,8,0,361,52,28,205.917,27,0,1,4,7
26,0,0,0,1,2015-08-04,8,1,289,36,33,205.917,30,0,2,1,1
27,0,0,0,1,2015-08-12,8,2,157,27,29,205.917,22,0,0,0,4
28,0,0,1,0,2015-08-19,8,2,289,36,33,205.917,30,0,2,1,8
29,0,0,0,1,2015-08-28,8,4,179,51,38,205.917,31,0,0,0,2
30,0,0,1,0,2015-08-17,8,0,179,51,38,205.917,31,0,0,0,8
31,0,0,1,0,2015-08-27,8,3,235,29,48,205.917,33,0,1,5,8
32,0,0,0,1,2015-08-27,8,3,235,11,37,205.917,29,1,1,1,4
33,0,0,1,0,2015-08-17,8,0,235,29,48,205.917,33,0,1,5,8
34,0,0,0,1,2015-08-17,8,0,179,51,38,205.917,31,0,0,0,2
35,0,0,0,1,2015-08-17,8,0,361,52,28,205.917,27,0,1,4,1
36,0,0,0,1,2015-08-04,8,1,289,36,33,205.917,30,0,2,1,8
37,1,0,0,0,2015-08-20,8,3,291,50,32,205.917,23,0,0,0,4
38,0,0,0,1,2015-08-21,8,4,235,29,48,205.917,33,0,1,5,8
39,0,0,0,1,2015-08-28,8,4,260,50,36,205.917,23,0,4,0,4
40,0,0,0,1,2015-09-01,9,1,184,42,27,241.476,21,0,0,0,2
41,0,0,0,1,2015-09-07,9,0,118,10,37,241.476,28,0,0,0,4
42,0,0,0,1,2015-09-01,9,1,179,51,38,241.476,31,0,0,0,4
43,0,0,1,0,2015-09-08,9,1,235,20,43,241.476,38,0,1,0,8
44,0,0,0,1,2015-09-09,9,2,155,12,34,241.476,25,0,2,0,2
45,0,0,0,1,2015-09-13,9,6,118,10,37,241.476,28,0,0,0,3
46,0,0,0,1,2015-09-14,9,0,179,51,38,241.476,31,0,0,0,3
47,0,0,0,1,2015-09-24,9,3,291,31,40,241.476,25,0,1,1,4
48,0,0,0,1,2015-09-04,9,4,260,50,36,241.476,23,0,4,0,8
49,1,0,0,0,2015-09-14,9,0,291,31,40,241.476,25,0,1,1,32
50,0,0,0,0,2015-09-21,9,0,260,50,36,241.476,23,0,4,0,0
51,0,0,0,0,2015-09-28,9,0,225,26,28,241.476,24,0,1,2,0
52,0,0,0,1,2015-09-08,9,1,225,26,28,241.476,24,0,1,2,2
53,0,0,0,1,2015-09-15,9,1,118,10,37,241.476,28,0,0,0,2
54,0,0,0,0,2015-09-22,9,1,289,36,33,241.476,30,0,2,1,0
55,0,0,0,0,2015-09-29,9,1,118,13,50,241.476,31,0,1,0,0
56,0,0,1,0,2015-09-16,9,2,225,26,28,241.476,24,0,1,2,3
57,0,0,0,1,2015-09-23,9,2,179,51,38,241.476,31,0,0,0,3
58,0,0,0,0,2015-09-30,9,2,369,17,31,241.476,25,0,3,0,0
59,0,0,0,1,2015-09-11,9,4,248,25,47,241.476,32,0,2,1,1
60,0,0,0,1,2015-09-18,9,4,179,51,38,241.476,31,0,0,0,3
61,0,0,0,1,2015-09-25,9,4,260,50,36,241.476,23,0,4,0,4
62,0,0,0,1,2015-10-06,10,1,179,51,38,253.465,31,0,0,0,3
63,0,0,0,1,2015-10-13,10,1,118,10,37,253.465,28,0,0,0,3
64,0,0,0,0,2015-10-14,10,2,118,13,50,253.465,31,0,1,0,0
65,0,0,0,1,2015-10-15,10,3,179,26,30,253.465,19,1,0,0,1
66,0,0,0,1,2015-10-16,10,4,179,51,38,253.465,31,0,0,0,3
67,0,0,0,1,2015-10-16,10,4,225,26,28,253.465,24,0,1,2,3
68,0,0,0,1,2015-10-06,10,1,118,10,37,253.465,28,0,0,0,3
69,0,0,0,1,2015-10-14,10,2,225,26,28,253.465,24,0,1,2,2
70,0,0,0,1,2015-10-21,10,2,248,25,47,253.465,32,0,2,1,2
71,0,0,0,1,2015-10-22,10,3,291,31,40,253.465,25,0,1,1,5
72,0,0,0,1,2015-10-21,10,2,179,51,38,253.465,31,0,0,0,8
73,0,0,0,1,2015-10-21,10,2,225,26,28,253.465,24,0,1,2,3
74,0,0,1,0,2015-10-22,10,3,260,50,36,253.465,23,0,4,0,16
75,1,0,0,0,2015-10-13,10,1,291,31,40,253.465,25,0,1,1,8
76,0,0,0,1,2015-10-20,10,1,225,26,28,253.465,24,0,1,2,2
77,0,0,0,1,2015-10-21,10,2,289,36,33,253.465,30,0,2,1,8
78,0,0,0,1,2015-10-23,10,4,361,52,28,253.465,27,0,1,4,1
79,0,0,0,1,2015-10-30,10,4,260,50,36,253.465,23,0,4,0,3
80,0,0,0,1,2015-11-05,11,3,179,51,38,306.345,31,0,0,0,1
81,0,0,0,1,2015-11-04,11,2,225,26,28,306.345,24,0,1,2,1
82,1,0,0,0,2015-11-05,11,3,179,51,38,306.345,31,0,0,0,8
83,0,0,1,0,2015-11-12,11,3,179,22,40,306.345,22,1,2,0,8
84,0,0,0,1,2015-11-19,11,3,291,31,40,306.345,25,0,1,1,5
85,1,0,0,0,2015-11-02,11,0,155,12,34,306.345,25,0,2,0,32
86,0,0,0,1,2015-11-09,11,0,189,29,33,306.345,25,0,2,2,8
87,1,0,0,0,2015-11-16,11,0,291,31,40,306.345,25,0,1,1,40
88,0,0,0,1,2015-11-18,11,2,225,26,28,306.345,24,0,1,2,1
89,1,0,0,0,2015-11-20,11,4,155,12,34,306.345,25,0,2,0,8
90,0,0,0,1,2015-11-18,11,2,225,26,28,306.345,24,0,1,2,3
91,0,0,1,0,2015-11-25,11,2,179,22,40,306.345,22,1,2,0,8
92,1,0,0,0,2015-11-20,11,4,225,26,28,306.345,24,0,1,2,3
93,0,0,0,1,2015-11-27,11,4,260,50,36,306.345,23,0,4,0,4
94,0,0,0,1,2015-11-02,11,0,248,25,47,306.345,32,0,2,1,1
95,0,0,0,1,2015-11-10,11,1,225,26,28,306.345,24,0,1,2,3
96,1,0,0,0,2015-11-11,11,2,289,36,33,306.345,30,0,2,1,24
97,0,0,0,1,2015-11-26,11,3,291,31,40,306.345,25,0,1,1,3
98,0,0,0,1,2015-12-01,12,1,248,25,47,261.306,32,0,2,1,1
99,0,0,1,0,2015-12-01,12,1,118,10,37,261.306,28,0,0,0,64
100,0,0,0,1,2015-12-02,12,2,118,13,50,261.306,31,0,1,0,2
101,0,0,0,1,2015-12-02,12,2,235,11,37,261.306,29,1,1,1,8
102,0,0,0,1,2015-12-03,12,3,225,26,28,261.306,24,0,1,2,2
103,0,0,0,1,2015-12-04,12,4,260,50,36,261.306,23,0,4,0,8
104,0,0,1,0,2015-12-08,12,1,118,10,37,261.306,28,0,0,0,56
105,0,0,0,1,2015-12-09,12,2,361,52,28,261.306,27,0,1,4,8
106,0,0,0,1,2015-12-10,12,3,225,26,28,261.306,24,0,1,2,3
107,0,0,0,1,2015-12-11,12,4,260,50,36,261.306,23,0,4,0,3
108,0,0,0,1,2015-12-15,12,1,225,26,28,261.306,24,0,1,2,2
109,0,0,0,1,2015-12-16,12,2,361,52,28,261.306,27,0,1,4,8
110,0,0,0,1,2015-12-11,12,4,118,10,37,261.306,28,0,0,0,2
111,0,0,1,0,2015-12-18,12,4,246,25,41,261.306,23,0,0,0,8
112,0,0,0,1,2015-12-18,12,4,225,26,28,261.306,24,0,1,2,2
113,0,0,0,1,2016-01-06,1,2,225,26,28,308.593,24,0,1,2,1
114,0,0,1,0,2016-01-04,1,0,118,10,37,308.593,28,0,0,0,1
115,0,0,0,1,2016-01-05,1,1,118,10,37,308.593,28,0,0,0,1
116,0,0,1,0,2016-01-05,1,1,155,12,34,308.593,25,0,2,0,8
117,0,0,0,1,2016-01-06,1,2,225,26,28,308.593,24,0,1,2,2
118,0,0,0,1,2016-01-07,1,3,184,42,27,308.593,21,0,0,0,2
119,0,0,0,1,2016-01-07,1,3,225,26,28,308.593,24,0,1,2,2
120,0,0,0,1,2016-01-08,1,4,225,26,28,308.593,24,0,1,2,1
121,0,0,0,1,2016-01-11,1,0,118,10,37,308.593,28,0,0,0,2
122,0,0,0,1,2016-01-12,1,1,225,26,28,308.593,24,0,1,2,2
123,0,0,0,1,2016-01-12,1,1,118,10,37,308.593,28,0,0,0,2
124,0,0,0,1,2016-01-13,1,2,118,10,37,308.593,28,0,0,0,2
125,0,0,0,1,2016-01-14,1,3,118,10,37,308.593,28,0,0,0,2
126,0,0,0,1,2016-01-15,1,4,118,10,37,308.593,28,0,0,0,2
127,0,0,0,1,2016-01-11,1,0,118,10,37,308.593,28,0,0,0,2
128,0,0,0,1,2016-01-12,1,1,118,10,37,308.593,28,0,0,0,2
129,0,0,1,0,2016-01-12,1,1,179,26,30,308.593,19,1,0,0,8
130,0,0,1,0,2016-01-12,1,1,289,36,33,308.593,30,0,2,1,8
131,0,0,0,1,2016-01-13,1,2,118,10,37,308.593,28,0,0,0,2
132,0,0,0,1,2016-01-21,1,3,184,42,27,308.593,21,0,0,0,2
133,0,0,0,1,2016-01-28,1,3,118,10,37,308.593,28,0,0,0,2
134,0,0,0,1,2016-01-25,1,0,118,10,37,308.593,28,0,0,0,0
135,0,0,0,1,2016-01-26,1,1,225,26,28,308.593,24,0,1,2,1
136,0,0,0,1,2016-01-28,1,3,289,36,33,308.593,30,0,2,1,3
137,0,0,0,1,2016-02-05,2,4,184,42,27,302.585,21,0,0,0,1
138,1,0,0,0,2016-02-03,2,2,246,25,41,302.585,23,0,0,0,8
139,1,0,0,0,2016-02-10,2,2,179,51,38,302.585,31,0,0,0,8
140,0,0,0,1,2016-02-11,2,3,155,12,34,302.585,25,0,2,0,2
141,0,0,0,1,2016-02-11,2,3,189,29,33,302.585,25,0,2,2,8
142,0,0,0,1,2016-02-12,2,4,260,50,36,302.585,23,0,4,0,2
143,0,0,0,1,2016-02-12,2,4,289,36,33,302.585,30,0,2,1,8
144,1,0,0,0,2016-02-08,2,0,388,15,50,302.585,24,0,0,0,8
145,1,0,0,0,2016-02-09,2,1,388,15,50,302.585,24,0,0,0,8
146,0,0,0,1,2016-02-15,2,0,225,26,28,302.585,24,0,1,2,2
147,0,0,0,1,2016-02-09,2,1,225,26,28,302.585,24,0,1,2,2
148,0,0,0,1,2016-02-16,2,1,179,26,30,302.585,19,1,0,0,1
149,0,0,0,1,2016-02-23,2,1,184,42,27,302.585,21,0,0,0,8
150,0,0,0,1,2016-02-25,2,3,225,26,28,302.585,24,0,1,2,3
151,0,0,1,0,2016-02-15,2,0,330,16,28,302.585,25,1,0,0,8
152,0,0,0,1,2016-02-16,2,1,330,16,28,302.585,25,1,0,0,1
153,0,0,0,1,2016-02-17,2,2,225,26,28,302.585,24,0,1,2,1
154,0,0,1,0,2016-02-25,2,3,189,29,33,302.585,25,0,2,2,8
155,0,0,0,1,2016-03-01,3,1,291,50,32,343.253,23,0,0,0,2
156,0,0,1,0,2016-03-01,3,1,260,50,36,343.253,23,0,4,0,8
157,0,0,1,0,2016-03-08,3,1,157,27,29,343.253,22,0,0,0,3
158,0,1,0,0,2016-03-15,3,1,179,22,40,343.253,22,1,2,0,8
159,0,0,0,1,2016-03-16,3,2,291,31,40,343.253,25,0,1,1,8
160,1,0,0,0,2016-03-02,3,2,260,50,36,343.253,23,0,4,0,8
161,1,0,0,0,2016-03-03,3,3,179,26,30,343.253,19,1,0,0,8
162,1,0,0,0,2016-03-04,3,4,248,25,47,343.253,32,0,2,1,3
163,1,0,0,0,2016-03-04,3,4,260,50,36,343.253,23,0,4,0,40
164,1,0,0,0,2016-03-07,3,0,179,22,40,343.253,22,1,2,0,40
165,1,0,0,0,2016-03-14,3,0,155,12,34,343.253,25,0,2,0,16
166,0,0,0,1,2016-03-21,3,0,260,50,36,343.253,23,0,4,0,16
167,1,0,0,0,2016-03-22,3,1,155,12,34,343.253,25,0,2,0,8
168,1,0,0,0,2016-03-24,3,3,289,36,33,343.253,30,0,2,1,8
169,1,0,0,0,2016-03-24,3,3,179,22,40,343.253,22,1,2,0,8
170,0,0,0,1,2016-03-25,3,4,260,50,36,343.253,23,0,4,0,4
171,0,0,0,1,2016-03-25,3,4,225,26,28,343.253,24,0,1,2,1
172,1,0,0,0,2016-03-28,3,0,279,5,39,343.253,24,0,2,0,8
173,1,0,0,0,2016-03-29,3,1,179,51,38,343.253,31,0,0,0,24
174,0,0,0,1,2016-03-30,3,2,225,26,28,343.253,24,0,1,2,2
175,1,0,0,0,2016-03-28,3,0,225,26,28,343.253,24,0,1,2,8
176,1,0,0,0,2016-03-28,3,0,179,26,30,343.253,19,1,0,0,1
177,1,0,0,0,2016-03-29,3,1,225,26,28,343.253,24,0,1,2,8
178,1,0,0,0,2016-03-30,3,2,225,26,28,343.253,24,0,1,2,16
179,1,0,0,0,2016-03-30,3,2,179,51,38,343.253,31,0,0,0,3
180,1,0,0,0,2016-03-17,3,3,279,5,39,343.253,24,0,2,0,16
181,0,0,0,1,2016-03-18,3,4,225,26,28,343.253,24,0,1,2,2
182,1,0,0,0,2016-03-25,3,4,248,25,47,343.253,32,0,2,1,3
183,0,0,0,1,2016-03-28,3,0,225,26,28,343.253,24,0,1,2,1
184,0,0,0,1,2016-04-06,4,2,291,31,40,326.452,25,0,1,1,1
185,0,0,0,1,2016-04-13,4,2,225,26,28,326.452,24,0,1,2,1
186,0,0,0,1,2016-04-12,4,1,155,12,34,326.452,25,0,2,0,1
187,1,0,0,0,2016-04-13,4,2,246,25,41,326.452,23,0,0,0,24
188,0,0,0,1,2016-04-14,4,3,155,12,34,326.452,25,0,2,0,1
189,0,0,0,1,2016-04-15,4,4,225,26,28,326.452,24,0,1,2,2
190,0,0,0,1,2016-04-15,4,4,260,50,36,326.452,23,0,4,0,4
191,1,0,0,0,2016-04-06,4,2,179,51,38,326.452,31,0,0,0,24
192,0,0,0,1,2016-04-07,4,3,118,13,50,326.452,31,0,1,0,1
193,0,0,0,1,2016-04-08,4,4,291,31,40,326.452,25,0,1,1,3
194,1,0,0,0,2016-04-08,4,4,246,25,41,326.452,23,0,0,0,8
195,0,0,0,1,2016-04-22,4,4,291,31,40,326.452,25,0,1,1,1
196,0,0,0,1,2016-04-29,4,4,248,25,47,326.452,32,0,2,1,8
197,0,0,1,0,2016-04-29,4,4,260,50,36,326.452,23,0,4,0,56
198,0,0,1,0,2016-04-26,4,1,289,36,33,326.452,30,0,2,1,8
199,1,0,0,0,2016-04-27,4,2,155,12,34,326.452,25,0,2,0,24
200,0,0,1,0,2016-04-27,4,2,378,49,36,326.452,21,0,2,4,8
201,1,0,0,0,2016-04-28,4,3,289,36,33,326.452,30,0,2,1,16
202,1,0,0,0,2016-04-08,4,4,235,11,37,326.452,29,1,1,1,3
203,0,0,0,0,2016-04-04,4,0,235,29,48,326.452,33,0,1,5,0
204,1,0,0,0,2016-05-04,5,2,289,36,33,378.884,30,0,2,1,8
205,0,0,0,1,2016-05-05,5,3,155,12,34,378.884,25,0,2,0,2
206,0,0,0,1,2016-05-02,5,0,155,12,34,378.884,25,0,2,0,1
207,0,0,1,0,2016-05-03,5,1,179,51,38,378.884,31,0,0,0,8
208,0,0,1,0,2016-05-03,5,1,225,26,28,378.884,24,0,1,2,8
209,1,0,0,0,2016-05-11,5,2,184,42,27,378.884,21,0,0,0,4
210,0,0,0,1,2016-05-09,5,0,155,12,34,378.884,25,0,2,0,2
211,1,0,0,0,2016-05-10,5,1,179,51,38,378.884,31,0,0,0,1
212,1,0,0,0,2016-05-04,5,2,289,36,33,378.884,30,0,2,1,24
213,0,0,0,0,2016-05-11,5,2,279,5,39,378.884,24,0,2,0,0
214,0,0,0,0,2016-05-18,5,2,330,16,28,378.884,25,1,0,0,0
215,0,0,0,0,2016-05-25,5,2,378,49,36,378.884,21,0,2,4,0
216,0,0,0,0,2016-05-25,5,2,388,15,50,378.884,24,0,0,0,0
217,1,0,0,0,2016-05-24,5,1,179,51,38,378.884,31,0,0,0,1
218,1,0,0,0,2016-05-11,5,2,118,13,50,378.884,31,0,1,0,24
219,0,0,0,1,2016-05-27,5,4,361,52,28,378.884,27,0,1,4,8
220,0,0,1,0,2016-06-06,6,0,246,25,41,377.550,23,0,0,0,8
221,0,0,0,1,2016-06-13,6,0,361,52,28,377.550,27,0,1,4,8
222,1,0,0,0,2016-06-14,6,1,246,25,41,377.550,23,0,0,0,24
223,0,0,0,1,2016-06-16,6,3,291,31,40,377.550,25,0,1,1,4
224,1,0,0,0,2016-06-17,6,4,246,25,41,377.550,23,0,0,0,8
225,1,0,0,0,2016-06-13,6,0,179,51,38,377.550,31,0,0,0,8
226,0,0,0,1,2016-06-20,6,0,155,12,34,377.550,25,0,2,0,4
227,1,0,0,0,2016-06-27,6,0,246,25,41,377.550,23,0,0,0,8
228,1,0,0,0,2016-06-29,6,2,118,13,50,377.550,31,0,1,0,8
229,1,0,0,0,2016-06-03,6,4,235,11,37,377.550,29,1,1,1,16
230,0,0,0,1,2016-06-07,6,1,118,13,50,377.550,31,0,1,0,1
231,1,0,0,0,2016-06-08,6,2,118,13,50,377.550,31,0,1,0,80
232,0,0,0,1,2016-06-09,6,3,378,49,36,377.550,21,0,2,4,8
233,1,0,0,0,2016-06-10,6,4,179,51,38,377.550,31,0,0,0,2
234,0,0,0,1,2016-06-20,6,0,289,48,49,377.550,36,0,0,2,2
235,0,0,0,1,2016-06-30,6,3,225,26,28,377.550,24,0,1,2,2
236,0,0,1,0,2016-07-05,7,1,155,12,34,275.312,25,0,2,0,16
237,1,0,0,0,2016-07-06,7,2,118,13,50,275.312,31,0,1,0,8
238,1,0,0,0,2016-07-08,7,4,118,10,37,275.312,28,0,0,0,8
239,0,0,0,1,2016-07-08,7,4,118,10,37,275.312,28,0,0,0,4
240,0,0,0,1,2016-07-12,7,1,330,16,28,275.312,25,1,0,0,8
241,0,0,1,0,2016-07-14,7,3,179,26,30,275.312,19,1,0,0,8
242,0,0,0,1,2016-07-15,7,4,155,12,34,275.312,25,0,2,0,2
243,1,0,0,0,2016-07-18,7,0,330,16,28,275.312,25,1,0,0,8
244,1,0,0,0,2016-07-19,7,1,330,16,28,275.312,25,1,0,0,8
245,0,0,0,1,2016-07-18,7,0,157,27,29,275.312,22,0,0,0,3
246,0,0,0,1,2016-07-19,7,1,361,52,28,275.312,27,0,1,4,8
247,0,0,0,1,2016-07-20,7,2,289,36,33,275.312,30,0,2,1,8
248,0,0,0,1,2016-07-21,7,3,179,51,38,275.312,31,0,0,0,8
249,0,0,1,0,2016-07-11,7,0,289,36,33,275.312,30,0,2,1,32
250,0,0,1,0,2016-07-14,7,3,289,36,33,275.312,30,0,2,1,8
251,0,0,0,0,2016-07-21,7,3,260,50,36,275.312,23,0,4,0,0
252,0,0,1,0,2016-08-04,8,3,289,36,33,265.615,30,0,2,1,8
253,0,0,1,0,2016-08-11,8,3,157,27,29,265.615,22,0,0,0,3
254,0,0,0,1,2016-08-07,8,6,289,36,33,265.615,30,0,2,1,1
255,0,0,1,0,2016-08-08,8,0,228,14,58,265.615,22,0,2,1,8
256,1,0,0,0,2016-08-10,8,2,300,26,43,265.615,25,0,2,1,1
257,1,0,0,0,2016-08-10,8,2,300,26,43,265.615,25,0,2,1,2
258,0,0,0,1,2016-08-11,8,3,260,50,36,265.615,23,0,4,0,4
259,0,0,0,1,2016-08-08,8,0,289,36,33,265.615,30,0,2,1,4
260,0,0,0,1,2016-08-09,8,1,248,25,47,265.615,32,0,2,1,1
261,1,0,0,0,2016-08-10,8,2,268,11,33,265.615,25,1,0,0,8
262,0,0,0,1,2016-08-10,8,2,179,26,30,265.615,19,1,0,0,1
263,1,0,0,0,2016-08-10,8,2,118,13,50,265.615,31,0,1,0,3
264,0,0,0,1,2016-08-14,8,6,248,25,47,265.615,32,0,2,1,2
265,0,0,0,1,2016-08-15,8,0,235,11,37,265.615,29,1,1,1,1
266,0,0,0,1,2016-08-17,8,2,118,13,50,265.615,31,0,1,0,1
267,0,0,1,0,2016-08-24,8,2,235,11,37,265.615,29,1,1,1,8
268,1,0,0,0,2016-08-08,8,0,361,52,28,265.615,27,0,1,4,8
269,1,0,0,0,2016-08-30,8,1,184,42,27,265.615,21,0,0,0,8
270,1,0,0,0,2016-09-05,9,0,179,51,38,294.217,31,0,0,0,8
271,0,0,0,1,2016-09-09,9,4,179,51,38,294.217,31,0,0,0,3
272,0,0,1,0,2016-09-07,9,2,289,36,33,294.217,30,0,2,1,24
273,0,0,0,0,2016-09-08,9,3,235,20,43,294.217,38,0,1,0,0
274,1,0,0,0,2016-09-12,9,0,246,25,41,294.217,23,0,0,0,16
275,0,0,0,1,2016-09-13,9,1,291,31,40,294.217,25,0,1,1,3
276,0,0,0,0,2016-09-13,9,1,231,35,39,294.217,35,0,2,2,0
277,0,0,0,0,2016-09-13,9,1,291,50,32,294.217,23,0,0,0,0
278,1,0,0,0,2016-09-14,9,2,179,51,38,294.217,31,0,0,0,8
279,1,0,0,0,2016-09-14,9,2,246,25,41,294.217,23,0,0,0,32
280,0,0,0,1,2016-09-15,9,3,179,51,38,294.217,31,0,0,0,1
281,0,0,0,1,2016-09-16,9,4,291,31,40,294.217,25,0,1,1,4
282,0,0,0,1,2016-09-16,9,4,260,50,36,294.217,23,0,4,0,4
283,0,0,0,1,2016-09-14,9,2,235,20,43,294.217,38,0,1,0,8
284,0,0,0,1,2016-09-15,9,3,118,13,50,294.217,31,0,1,0,1
285,0,0,0,0,2016-09-15,9,3,235,20,43,294.217,38,0,1,0,0
286,0,0,0,1,2016-09-16,9,4,291,31,40,294.217,25,0,1,1,3
287,1,0,0,0,2016-09-26,9,0,291,31,40,294.217,25,0,1,1,40
288,1,0,0,0,2016-09-26,9,0,179,51,38,294.217,31,0,0,0,8
289,0,0,0,1,2016-10-05,10,2,289,36,33,265.017,30,0,2,1,8
290,0,0,0,1,2016-10-05,10,2,235,11,37,265.017,29,1,1,1,4
291,0,0,0,1,2016-10-05,10,2,289,36,33,265.017,30,0,2,1,8
292,0,0,0,1,2016-10-06,10,3,289,36,33,265.017,30,0,2,1,8
293,0,0,0,0,2016-10-06,10,3,118,13,50,265.017,31,0,1,0,0
294,0,0,0,0,2016-10-06,10,3,248,25,47,265.017,32,0,2,1,0
295,1,0,0,0,2016-10-12,10,2,179,26,30,265.017,19,1,0,0,8
296,1,0,0,0,2016-10-12,10,2,118,10,37,265.017,28,0,0,0,3
297,0,0,0,1,2016-10-12,10,2,369,17,31,265.017,25,0,3,0,8
298,0,0,0,1,2016-10-14,10,4,179,51,38,265.017,31,0,0,0,1
299,1,0,0,0,2016-10-14,10,4,179,26,30,265.017,19,1,0,0,64
300,0,0,0,0,2016-10-14,10,4,235,20,43,265.017,38,0,1,0,0
301,0,0,1,0,2016-10-15,10,5,289,36,33,265.017,30,0,2,1,16
302,0,0,0,1,2016-10-16,10,6,260,50,36,265.017,23,0,4,0,3
303,0,0,0,0,2016-10-16,10,6,235,20,43,265.017,38,0,1,0,0
304,0,0,0,1,2016-10-19,10,2,235,20,43,265.017,38,0,1,0,2
305,0,0,0,1,2016-10-19,10,2,235,20,43,265.017,38,0,1,0,2
306,0,0,0,1,2016-10-20,10,3,118,13,50,265.017,31,0,1,0,1
307,0,0,0,1,2016-10-20,10,3,291,31,40,265.017,25,0,1,1,4
308,0,0,0,1,2016-10-22,10,5,179,26,30,265.017,19,1,0,0,16
309,0,0,0,1,2016-10-22,10,5,118,13,50,265.017,31,0,1,0,1
310,1,0,0,0,2016-10-26,10,2,361,52,28,265.017,27,0,1,4,8
311,0,0,0,0,2016-10-27,10,3,260,50,36,265.017,23,0,4,0,0
312,0,0,0,0,2016-10-27,10,3,291,31,40,265.017,25,0,1,1,0
313,0,0,0,0,2016-10-27,10,3,157,27,29,265.017,22,0,0,0,0
314,1,0,0,0,2016-10-28,10,4,179,26,30,265.017,19,1,0,0,5
315,1,0,0,0,2016-10-28,10,4,179,26,30,265.017,19,1,0,0,5
316,0,0,0,1,2016-10-29,10,5,118,13,50,265.017,31,0,1,0,1
317,1,0,0,0,2016-11-07,11,0,118,10,37,284.031,28,0,0,0,8
318,0,0,0,1,2016-11-07,11,0,248,25,47,284.031,32,0,2,1,2
319,1,0,0,0,2016-11-08,11,1,179,51,38,284.031,31,0,0,0,8
320,0,0,0,1,2016-11-11,11,4,260,50,36,284.031,23,0,4,0,3
321,0,0,0,1,2016-11-14,11,0,291,31,40,284.031,25,0,1,1,1
322,1,0,0,0,2016-11-14,11,0,378,49,36,284.031,21,0,2,4,8
323,1,0,0,0,2016-11-14,11,0,155,12,34,284.031,25,0,2,0,120
324,0,0,0,1,2016-11-14,11,0,235,20,43,284.031,38,0,1,0,8
325,0,0,0,0,2016-11-15,11,1,330,16,28,284.031,25,1,0,0,0
326,0,0,1,0,2016-11-16,11,2,235,11,37,284.031,29,1,1,1,1
327,1,0,0,0,2016-11-16,11,2,118,10,37,284.031,28,0,0,0,3
328,0,0,0,1,2016-11-17,11,3,235,11,37,284.031,29,1,1,1,2
329,0,0,0,1,2016-11-17,11,3,179,51,38,284.031,31,0,0,0,3
330,1,0,0,0,2016-11-18,11,4,246,25,41,284.031,23,0,0,0,8
331,1,0,0,0,2016-11-18,11,4,291,31,40,284.031,25,0,1,1,4
332,1,0,0,0,2016-11-21,11,0,246,25,41,284.031,23,0,0,0,8
333,0,0,0,1,2016-11-22,11,1,179,51,38,284.031,31,0,0,0,1
334,1,0,0,0,2016-11-23,11,2,260,50,36,284.031,23,0,4,0,8
335,0,1,0,0,2016-11-25,11,4,260,50,36,284.031,23,0,4,0,8
336,0,0,0,0,2016-11-25,11,4,378,49,36,284.031,21,0,2,4,0
337,0,0,0,0,2016-11-29,11,1,279,5,39,284.031,24,0,2,0,0
338,0,0,0,1,2016-11-24,11,3,179,51,38,284.031,31,0,0,0,1
339,1,0,0,0,2016-12-05,12,0,225,26,28,236.629,24,0,1,2,3
340,0,0,0,1,2016-12-05,12,0,179,51,38,236.629,31,0,0,0,2
341,0,0,0,1,2016-12-05,12,0,179,51,38,236.629,31,0,0,0,1
342,0,0,0,1,2016-12-05,12,0,235,11,37,236.629,29,1,1,1,3
343,0,0,0,1,2016-12-06,12,1,118,13,50,236.629,31,0,1,0,1
344,0,0,0,1,2016-12-09,12,4,260,50,36,236.629,23,0,4,0,4
345,1,0,0,0,2016-12-15,12,3,246,25,41,236.629,23,0,0,0,8
346,0,0,0,1,2016-12-15,12,3,179,51,38,236.629,31,0,0,0,1
347,0,0,0,1,2016-12-16,12,4,179,51,38,236.629,31,0,0,0,1
348,0,0,0,1,2016-12-20,12,1,179,26,30,236.629,19,1,0,0,1
349,0,0,0,1,2016-12-20,12,1,118,10,37,236.629,28,0,0,0,8
350,0,0,0,1,2016-12-22,12,3,235,11,37,236.629,29,1,1,1,2
351,0,0,0,1,2016-12-23,12,4,179,51,38,236.629,31,0,0,0,1

In [75]:
from datetime import datetime

# Create timestamp
timestamp = datetime.now().strftime("%Y-%m-%d")

# Create dynamic filename
filename = f"absenteeism_dataset_cleaned_{timestamp}.csv"

# Export to CSV
df_cleaned.to_csv(filename, index=False)